# 개발용 mysql container를 띄울 때 사용
# https://github.com/direnv/direnv 사용 권장
export PROJECT_NAME=$(echo ${PWD##*/})
export MYSQL_PORT=3309
# docker, web
export MYSQL_ROOT_PASSWORD=imdeo
export MYSQL_DATABASE=imdeo